#屏蔽以下后缀文件
*.out
*.log
core.*
*.o
*.exe
*.pdf 
*.jpeg
*.suo
*.ilk
*.pdb
*.db
*.tlog
*.lastbuildstate
*.obj
*.idb
*.pdb
*.dmp
*.iobj
*.ipdb

__debug_bin

Learning/Golang/Example/github_qt.go
Learning/Golang/Example/liblcl.dll
Learning/Cpp/Bookcpp/LinuxC/libstack.so

#屏蔽以下文件夹
homework/voice0golang/client-dir/
homework/voice0golang/server-dir/

learning/openglcn/sample-low/build/
learning/openglcn/freeglut/
learning/openglcn/glew-2.1.0/
learning/openglcn/gameplay/build/

Knowledge/Private/Password.txt 

Learning/Cpp/CMake/Demo1/build/
Learning/Cpp/CMake/Demo1/vsproject
Learning/Golang/ZooStarTool/PracticeTool/cmd/Config/
Learning/Golang/Example/vendor/
Learning/Golang/ZooStarTool/FindImage/data/
Learning/Golang/HelloQT/
Learning/Golang/grpc-cppcli/Debug/
Learning/Golang/grpc-cppcli/CMakeFiles/
Learning/Golang/grpc-cppcli/ALL_BUILD*
Learning/Golang/grpc-cppcli/CMakeCache.txt
Learning/Golang/grpc-cppcli/ZERO_CHECK*
Learning/Golang/grpc-cppcli/client*
Learning/Golang/grpc-cppcli/cmake_install*
Learning/Golang/grpc-cppcli/*.sln
Learning/Golang/hello_grpc/service/

XTemplate/Client/Library/
XTemplate/Client/Logs/
XTemplate/Client/Packages/
XTemplate/Client/ProjectSettings/
XTemplate/Client/Temp/
XTemplate/Client/obj/
XTemplate/Client/*.csproj
XTemplate/Client/*.sln

XTemplate/Third/build_xlua_with_libs-2.1.15/
XTemplate/Third/kcp-csharp-master/
XTemplate/Third/xLua-2.1.16/
