go 1.21.0

use (
	./homework/voice0golang/c09-client
	./homework/voice0golang/c09-comm
	./homework/voice0golang/c09-server
	./homework/voice0golang/c10-dnsclient
	./homework/voice0golang/c10-udpserver
	./projects/go-mypdf
)
